.modal_wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  background: rgba(44, 43, 60, 0.45);
  display: flex;
}

.container_modal {
  max-width: 750px;
  background: var(--background-modal);
  margin: auto;
  border-radius: 0.4rem;
  display: grid;
  grid-template-rows: 24px 1fr;
  place-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  gap: 20px;
}

.content_modal {
  display: grid;
  grid-template-columns: 410px 1fr;
  position: relative;
  place-content: flex-end;
}

.cover_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cover_wrapper h1 {
  font-size: 74px;
  color: var(--accent);
  position: absolute;
  top: 0;
  left: 20px;
}

.cover {
  width: 240px;
  height: 450px;
  background-size: cover;
  background-position: center;
}

.info_container {
  height: min-content;
  padding: 40px 20px 0px 0px;
}

.info_container h2{
  color: var(--text-modal);
  font-size: 14px;
  font-weight: 300px;
}

.info_container ul {
  display: grid;
  gap: 10px;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  align-items: stretch;
}

.info_container ul li{
  display: flex;
  flex-direction: column;
}

.info_container span{
  color: var(--text-modal);
  margin-top: 5px;
  font-weight: 300;
  font-size: 12px;
}

.info_container h2, p{
  color: var(--text-modal);
}

.info_container p {
  margin-bottom: 40px;
  font-weight: 300;
}

.read {
  background-color: var(--accent-text);
  color: var(--text-secondary);;
  max-width: 300px;
  height: 45px;
  min-width: 200px;
  width: 100%;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-top: 20px;
}



@media (max-width: 850px) {
  .container_modal {
    width: 80%;
    justify-content: center;
  }

  .cover_wrapper {
    padding: 0px 40px;
  }

  .cover_wrapper h1 {
    font-size: 40px;
    top: 14px;
    left: -3px;
  }

  .content_modal {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .cover {
    width: 400px;
    height: 250px;
    background-size: contain;
  }

  .info_container ul {
    gap: 15px 30px;
  }
}

@media (max-width: 650px) {

  .cover_wrapper {
    padding: 0px 0px;
  }

  .cover {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .container_modal {
    width: 90%;
    padding-left: 30px;
    max-height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
