.cards_comics {
  display: grid;
  gap: 30px;
  max-width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
  align-items: stretch; 
}

.comics_wrapper {
  display: flex;
  flex-direction: column;
  max-width: 155px;
  cursor: pointer;
}

.comics_wrapper p .comics_wrapper span {
  font-size: 16px;
  white-space: pre-line;
}

.comics_wrapper p {
  color: var(--accent-text);
  padding: 10px 0px;
}

.comics_wrapper span {
  font-size: 14px;
  font-weight: 300;
}

.comics_wrapper img{
  max-width: 155px;
  height: 242px;
  border-radius: 0.5rem;
}